/* Global variables */
:root {
	--radius: 8px;
	--border: solid 1px #e5e5e5;
}



/* Background */
html body {
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	font-family: "Sans-serif", Times, serif;
	background: #efefef;
	color: #404040;
}



/* Settings window */
.option_view {
	top: 0;
	bottom: 0;
	left: 0;
	background: #fafafa;
	width: 300px;
	position: absolute;
	border: var(--border);
	border-radius: 0 var(--radius) var(--radius) 0;
	overflow-x: hidden;
	overflow-y: auto;
	z-index: 2;
}

h2 {
	text-align: center;
	text-transform: uppercase;
}

.option {
	background: #ffffff;
	padding: 20px;
	margin: 5px;
	border: var(--border);
	border-radius: var(--radius);
}

.option > p {
	font-weight: bold;
}

select {
	padding: 10px;
	border: var(--border);
	border-radius: var(--radius);
	margin-right: -4.5px;
	width: 200px;
}

input {
	padding: 10px;
	border: var(--border);
	border-radius: var(--radius);
}

button {
	padding: 10px;
	border: var(--border);
	border-radius: var(--radius);
}

button:disabled {
	color: #b0b0b0;
}

/* Slider option */
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
	margin-right: 140px;
}

.switch input { 
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider {
	background-color: #2196F3;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}



/* Image stream */
#viewport {
	right: 1;
	bottom: 1;
	left: 1;
	top: 1;
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-user-select: none;  
	-moz-user-select: none;    
	-ms-user-select: none;      
	user-select: none;
}

#zoom {
	position: absolute;
	transform-origin: 0px 0px;
	transform: scale(1) translate(0px, 0px);
	cursor: grab;

	image-rendering: pixelated;
	image-rendering: -moz-crisp-edges;
	image-rendering: crisp-edges;
}

#zoom > p {
	margin: 0px;
}


/* Status info */
#status {
	margin: 10px;
	text-align: right;
	color: lightgreen;
	position: absolute;
	z-index: 2;
	top: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.6);
	border-radius: var(--radius);
	padding: 5px;
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
}

#canvas {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 3;
}

#chart {
	display: block;
    position: relative;
    width: 100%;
    height: 100%;
}

#chartwrapper {
	display: none;
	right: 0;
	bottom: 0;
	position: absolute;
	width: 500px;
	height: 250px;
	background: white;
	border-radius: var(--radius);
	border: var(--border);
}

