/* Global variables */
:root {
	--border: none;
	--color: white;
	--color-header: #3b94e6;
	--color-main-bg: #282c35;
	--color-option-bg: #ccc;
	--color-option-bg-highlight: #6a6a67;
}

td {
    text-align: center; 
    vertical-align: middle;
}


/* Background */
html body {
	margin: 0px;
	padding: 0px;
	overflow: hidden;
    background-color: #4e4d4a;
	color: #404040;
    color-scheme: dark;
	font-family: Arial, Helvetica, sans-serif;
}

html, body, input, textarea, select, button, dialog {
    background-color: var(--color-main-bg);
    border: none;
	border-radius: 5px;
    color: #fffffd;
}

input, textarea, select, button, dialog  {
    color: black !important;
}

a {
    color: #7cbaff;
}


/* Settings window */
.option_view {
	background: #1d2027;
	overflow-x: hidden;
	overflow-y: scroll;
	z-index: 2;
	right: 1;
	position: absolute;
	width: 300px;
	height: 100%;
	top: 0;
	bottom: 0;
	right: 0;
}

h2 {
	text-align: center;
	color: var(--color);
	font-size: 35px;
	margin: 5px;
}


.group {
	padding: 5px;
	margin: 5px 0 5px 0;
	margin-bottom: 15px;
}

.group > h3 {
	color: var(--color-header);
	font-weight: 600;
	margin: 5px;
}

.option {
	background: var(--color-main-bg);
	padding: 5px;
	margin: 5px;
	border: none;
	border-radius: var(--radius);
}

.option > h4 {
	color: var(--color);
	font-weight: 400;
	margin: 5px;
}

select {
	color: var(--color);
	padding: 10px;
	background: var(--color-option-bg);
	margin-right: -5px;
	width: 204px;
	height: 36px;
	outline: none;
}

select:focus {
	background: var(--color-option-bg-highlight);
}

input {
	outline: none;
	color: var(--color);
	padding: 10px;
	background: var(--color-option-bg);
	width: 185px;
}

input:focus {
	background: var(--color-option-bg-highlight);
}

button {
	color: var(--color-header);
	font-weight: bold;
	padding: 10px;
	background: var(--color-option-bg);
}

button:disabled {
	color: red;
}


button:enabled:hover {
	background: #3e434c;
}


button:enabled:active {
	background: #464a54;
}

/* Slider option */
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
	margin-right: 140px;
}

.switch input { 
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--color-option-bg);
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider {
	background-color: var(--color-header);
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}



/* Image stream */
.viewport {
	position: absolute;
	width: calc(100% - 300px);
	height: 100%;
}

#canvas_overlay {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 3;

	image-rendering: pixelated;
	image-rendering: -moz-crisp-edges;
	image-rendering: crisp-edges;
}

/* Status info */
#status {
	margin: 10px;
	text-align: left;
	color: var(--color);
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	padding: 5px;
	font-size: 18px;
}
