<!DOCTYPE html>
<html>
	<head>
		<title>Seeing Interface</title>
        <link rel="stylesheet" type="text/css" href="static/global.css">
		<script src="static/jquery-3.1.0.min.js"></script>
		<script src="static/Chart.js"></script>
		<script src="static/global.js"></script>
	</head>
	<body>
		<div class="option_view">
			<h2>settings</h2>
			{{#groups}}
				<div class="group">
				<h3>{{group_name}}</h3>
				{{#group_list}}
					<div class="option">
						<h4>{{option_name}}</h4>
						{{{option_html}}}
					</div>
				{{/group_list}}
				</div>
			{{/groups}}
		</div>

		<div id="viewport">
			<div id="zoom">
				<img data-lazysrc="/image" id="image">
				<canvas id="canvas"></canvas>
				<p id="imginfo"></p>
			</div>
		</div>

		<div id="status">Loading</div>

		<div id="chartwrapper">
			<canvas id="chart"></canvas>
		</div>
	</body>
</html>
