<!DOCTYPE html>
<html>
	<head>
		<title>Seeing Interface</title>
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Expires" content="-1">
        <link rel="stylesheet" type="text/css" href="static/global.css">
		<script src='static/panzoom.min.js'></script>
		<script src="static/jquery-3.1.0.min.js"></script>
		<script src="static/Chart.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	</head>
	<body>
		<!-- Einstellungen -->
		<div class="option_view">
			<h2>Seeing v{{version}}</h2>
			{{#settings}}
				<div class="group">
				<h3>{{group_name}}</h3>
				{{#group_list}}
					<div class="option">
						<h4>{{option_name}}</h4>
						{{{option_html}}}
					</div>
				{{/group_list}}
				</div>
			{{/settings}}
			<canvas id="chart"></canvas>
		</div>

		<!-- Statusanzeige -->
		<div id="status">Loading</div>

		<!-- Kamerabild -->
		<div class="viewport">
			<div id="draggable">
				<img id="video"></img>
				<canvas id="canvas_overlay"></canvas>
			<div>
		</div>

		<!-- Script -->
		<script src="static/global.js"></script>
	</body>
</html>
